*, *::before,
 *::after {
     box-sizing: border-box;
 }

body {
    margin: 0;
    color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
}

/* =======Typography====== */
h1 {
    font-size: 2.125rem;
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

/* =====Header list======= */

header ul li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 1.25em;
}

li img {
    width: 34px;
}


/* ====layout====== */

.header,
.profile {
    max-width: 534px;
    margin: 0 auto;
}

.logo {
    width: 84px;
}


.profile {
    width: 90%;
    border-radius: 15px;
    height: 75vh;
    max-height: 800px;
    margin: 1.535em auto;
    position: relative;
}

.avatar {
    width: 100%;
    border-radius: 15px;
    display: block; 
}

.details {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto 30px 14px;
}

/* ====buttons==== */

.buttons{
    text-align: center;
}

button, li {
    cursor: pointer;
}

button {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px #E9E9EA;
    border: none;
    padding: 1.5em;
    border-radius: 50%;
    margin-right: 1.5em;
}

.cross-btn:hover,
.cross-btn:focus {
    background: #FFE7EF;
    box-shadow: 0px 10px 20px #EDD9DF;
}

.like-btn:hover,
.like-btn:focus {
    background: #DBFFF4;
    box-shadow: 0px 10px 20px #CCF1E6;
}

.like-btn:hover,
.like-btn:focus,
.cross-btn:focus,
.cross-btn:hover {
    outline: none;
}

/* ===badges==== */
.like-badge,
.nope-badge {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 150px auto auto;
    max-width: 234px;
    transform: rotate(-30deg);
}

.hide {
    display: none;
}